.logo-responsive{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.footer{
    text-align: center;
}

.model-image img{
    height: 300px;
    width: 350px;
    object-fit: cover;
    padding-bottom: 20px;

}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}

.dropdown-item {
   
   
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
   
    border-bottom: 1px solid #edf0f5;

    background: #fda729;
}